<html>
    <body>
        <include src="Global/Assets.html.twig"></include>

        <div class="page-wrapper">

            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN SIDEBAR -->
                <include src="Global/Menu/Sidebar.html.twig"></include>

                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->

                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN SAMPLE TABLE PORTLET-->
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-social-dribbble font-green"></i>
                                            <span class="caption-subject font-green bold uppercase">Usuários</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-scrollable">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                        <th style="">Nome</th>
                                                        <th style="">Email</th>
                                                        <th style="">Telefone</th>
                                                        <th style="">CPF</th>
                                                        </thead>
                                                        <tbody>
                                                            {% for user in users %}
                                                                <tr data-userid="{{ user.userId }}">
                                                                    <td>{{ user.name }}</td>
                                                                    <td>{{ user.email }}</td>
                                                                    <td>{{ user.phone }}</td>
                                                                    <td>{{ user.cpf }}</td>
                                                                    <td style="text-align: center;">
                                                                        <button class="btn" style="width: 100%;" data-url="/user/{{ user.userId }}/edit">Editar</button>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div style="text-align: right">
                                            <button data-url="/user/add" type="button" class="btn btn-success">Adicionar</button>
                                        </div>
                                    </div>
                                    <!-- END SAMPLE TABLE PORTLET-->
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE BAR -->
                    </div>
                    <!-- END CONTENT -->
                </div>
                <!-- END CONTAINER -->
                <!-- BEGIN FOOTER -->
                <include src="Global/Menu/Footer.html.twig"></include>
                <!-- END FOOTER -->
            </div>
        </div>
    </body>
</html>